.footer {
  height: 6%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 0.8em;
  padding: 0.5em;
}

@media (max-width: 600px) {
  .footer {
    font-size: 0.5;
  }
}
