.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8%;
  padding: 0 0.5em;
}

.prompt {
  font-size: 2.5em;
}

.logo {
  width: 3em;
  height: 3em;
}

.logo:hover {
  cursor: pointer;
}

.tip {
  font-size: 1.5em;
}

.spin {
  animation: spiner 20s linear infinite;
}

.blink {
  animation: blinker 1s linear infinite;
}

@keyframes spiner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@media (max-width: 600px) {
  .prompt {
    font-size: 1.5em;
    font-weight: bold;
  }

  .logo {
    width: 2.5em;
    height: 2.5em;
  }

  .tip {
    font-size: 1em;
  }
}
